
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>


<br />
<a href="/Admin/Blog/ExportStaticBlogList"class="btn btn-outline-primary">Excel listesi dosya  indir</a>
@*<button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel dosyasini indir</button>

<script>
    function DownloadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticBlogList");
    }
</script>*@