
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Excel file</h1>


<br />
<a href="/Admin/Blog/ExportStaticBlogList"class="btn btn-outline-primary">Download excel file</a>
