@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Category List</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Category Status</th>
        <th colspan="3" style="text-align:center">Actions</th>
    </tr>
    @foreach (var itm in Model)
    {
        <tr>
            <th>@itm.CategoryID</th>
            <td>@itm.CategoryName</td>
            @if (itm.CategoryStatus == true)
            {
                <td>Active</td>
            }
            else
            {
                <td>Passive</td>
            }
            <td><a href="~/Admin/Category/CategoryDelete/@itm.CategoryID/" id="DeleteBtn" onclick="return confirm('Start the deletion??');" class="btn btn-outline-danger">Change to passive</a></td>
            <td><a href="~/Admin/Category/CategoryActivate/@itm.CategoryID" id="ActiveBtn" onclick="return confirm('Change it to active?'); " class="btn btn-outline-primary">Change to active</a></td>
            <td><a href="~/Admin/Category/UpdateCategory/@itm.CategoryID" class="btn btn-outline-success">Update</a></td>
        </tr>
    }
</table>
<a href="~/Admin/Category/AddCategory/" class="btn btn-primary">New category</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
