@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>

<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            @await Html.PartialAsync("~/Areas/Admin/Views/AdminMessageMenu/Default.cshtml")
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">

                    <form method="get" action="index.html" class="float-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="search" placeholder="Search">
                            <div class="input-group-btn">   
                                <button type="submit" class="btn btn-sm btn-primary" asp-action="">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>
                        Inbox (@ViewBag.v2)
                    </h2>
                    @await Html.PartialAsync("~/Areas/Admin/Views/AdminMessageTopMenu/Default.cshtml") 
                </div>
                <div class="mail-box">

                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="unread">
                                    <td class="check-mail">
                                        @if (item.Read != true)
                                        {
                                            <a href="/Admin/AdminMessage/MarkAsRead/@item.Message_ID/" class="fa fa-eye"></a>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="i-checks" checked="checked">
                                        }
                                    </td>
                                    <td class="mail-ontact"><a href="#">@item.SenderUser.WriterName</a></td>
                                    <td class="mail-subject"><a href="#">@item.Message_Title</a></td>
                                    <td><a href="/Admin/AdminMessage/DeleteMessage/@item.Message_ID/" class="btn btn-outline-danger" onclick="return confirm('Do you want to delete this message? : blog')">Sil</a></td>
                                    @if (item.Important == true)
                                    {
                                        <td><a href="/Admin/AdminMessage/MarkAsNotImportant/@item.Message_ID/" class="btn btn-warning" onclick="return confirm('Do you want to mark this not important? : blog')">Mark as not important</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="/Admin/AdminMessage/MarkAsImportant/@item.Message_ID/" class="btn btn-outline-warning" onclick="return confirm('Do you want to mark this as an important ? : blog')">Mark as important</a></td>
                                    }
                                    <td class="text-right mail-date">@item.Date</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
