<div class="comment-top">
    <br />
    <h4>Yorum yaz</h4>
    <div class="comment-bottom">
        <br />
        <form asp-action="PartialAddComment" asp-controller="Comment" method="post">
            <input class="form-control" type="text"  placeholder="Name / Surname" required="" name="CommentUserName">
            <br />
            <input class="form-control" type="text" placeholder="Topic" required="" name="CommentTitle">
            <br />       
            <textarea class="form-control" name="CommentContent" placeholder="Your comment" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Write  </button>
        </form>
    </div>
</div>