<div class="comment-top">
    <h4>Yorum yaz</h4>
    <div class="comment-bottom">
        <br />
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text"  placeholder="Adiniz soyadiniz" required="" name="CommentUserName">
            <input class="form-control" type="text" placeholder="Baslik" required="" name="CommentTitle">

       
            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum yap  </button>
        </form>
    </div>
</div>