@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Gelen kutusu</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Topic</th>
        <th>Sender</th>
        <th>Date</th>
        <th>Open the Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Message_ID</th>
            <th>@item.Message_Title</th>
            <th>@item.SenderUser.WriterName</th>
            <th>@(((DateTime)item.Date).ToString("dd-MM-yyyy"))</th>
            <th><a href="/Message/MessageDetails/@item.Message_ID" class="btn btn-outline-warning">Open the Message</a></th>
        </tr>
    }
</table>

<a href="/Message/SendMessage/" class="btn btn-outline-primary">Write a message</a>