@using EntityLayer.Concrete
@model List<AppUser>
@{ 
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1> Kullanıcı rol list</h1>

<table class="table table-bordered">
    <tr>
        <th>User</th>
        <th>Add role</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>
                <a href="/Admin/AdminRole/AssignRole/@item.Id" class="btn btn-outline-success">Add Role</a>
            </td>
        </tr>
    }
</table>

<a href="/Admin/AdminRole/Index/" class="btn btn-outline-primary">Go back to role list</a>