@using WebApplication7.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>AD</th>
        <th colspan="2" style="text-align:center;">ISLEMLER</th>
    </tr>
    @foreach (var itm in Model)
    {
        <tr>
            <td>@itm.ID</td>
            <td>@itm.Name</td>
            <td>
                <a href="/Employee/DeleteEmployee/@itm.ID" class="btn btn-outline-danger">Sil</a>
            </td>
            <td>
                <a href="/Employee/EditEmployee/@itm.ID" class="btn btn-outline-warning">Guncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Employee/AddEmployee/" class="btn btn-outline-success">Yeni ekle</a>