
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<button id="btngetlist" class="btn btn-outline-primary">Writer List</button>
<button id="btngetbyid" class="btn btn-outline-success">Find Writer</button>
<button id="btnaddwriter" class="btn btn-outline-success">Add Writer</button>
<button id="btndeletewriter" class="btn btn-outline-danger">Delete Writer</button>
<button id="btnupdatewriter" class="btn btn-outline-warning">Update the Writer Information</button>
<br />
<br />
<div id="writerget">

</div>
<div>
    <input type="text" id="writerid" class="form-control" placeholder="Id..." />
</div>
<div>
    <input type="text" class="form-control" id="txtwriterid" placeholder="id" />
    <input type="text" class="form-control" id="txtwritername" placeholder="name" />
</div>
<div>
    <input type="text" class="form-control" id="wid" placeholder="Write the ID of  data tobe deleted" />
</div>
<div>
    <input type="text" class="form-control" id="updatewriterid" placeholder="Write the ID of writer that will be updated...." />
    <input type="text" class="form-control" id="updatewritername" placeholder="Write the Name of writer that will be updated...." />
</div>
@section scripts{
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let writers = jQuery.parseJSON(func)
                    console.log(writers);
                    let tablehtml = "<table class=table table-bordered> <tr><th> Yazar ID </th> <th> Yazar AD </th>  </tr>";
                    $.each(writers, (index, value) => {
                        tablehtml += `<tr><td>${value.writerid}</td> <td>${value.writername}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerget").html(tablehtml);
                }
            });
        });

        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                data: "json",
                type: "GET",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(func);

                    let getValue = `<table class=table=bordered> <tr> <th>Yazar ID</th>  <th>Yazar AD</th></tr> <tr><td>${w.writerid}</td><td>${w.writername}</td></tr></table>`;
                    $("#writerget").html(getValue);

                }
            });
        });

        $("#btnaddwriter").click(function () {
            let writer = {
                writerid: $("#txtwriterid").val(),
                writername: $("#txtwritername").val(),
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Success");
                }
            });

        });

        $("#btndeletewriter").click(x => {
            let id = $("#wid").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("Success");
                }
            });
        });

        $("#btnupdatewriter").click(function () {
            let writer = {
                writerid: $("updatewriterid").val(),
                writerid: $("updatewritername").val(),
            };

            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    alert("tamamlandi");
                },
            })
        })


    </script>
}